.main-header {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
    font-weight: 700;
}

.subheader {
    font-size:1.3rem;
    font-weight: 500;
}

.container {
    max-width: 40rem;
    margin: auto;
}

.header {
    margin-top: 2rem;
}