<div class="container d-flex flex-column justify-content-center">
    <div class="row content-start">
        <div class="col">
            <p id="description">
                This project has the objective of displaying MLOps end-to-end capacities, taking the traditional 'Titanic survivors' problem and showcasing
                a full application around it, complete with a trained model on the backend, and capabilities to receive user input in the frontend, returning whether or
                not the user would have survived the crash, based on the inputs.
                <br >
                <br >
                In the future, the application will also display Machine Learning metrics and backend stats, available on a separate endpoint.
                <br >
                <br >
                Enjoy!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col button">
            <button type="button" (click)="navigatePersonalDetails()" mat-raised-button class="btn">Next</button>
        </div>
    </div>
</div>