<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="main-header">
                Titanic MLOps 
            </h1>
            <h2 class="main-header">
                A Machine Learning End-to-End Experiment
            </h2>
            <hr>
        </div>
        <div class="row">
            <div class="col">
                <p id="description">
                    This project has the objective of displaying MLOps end-to-end bla bla bla
                </p>
            </div>
        </div>
    </div>
</div>